MYSQL_ROOT_PASSWORD=root123
MYSQL_DATABASE=delivery_platform
MYSQL_USER=delivery
MYSQL_PASSWORD=delivery123

REDIS_PORT=16379

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=19000
MINIO_CONSOLE_PORT=19001
